 ### Loading Dataset

In [1]:
import pandas as pd

In [2]:
dataSet2015 = '..\\data\\2015\\KCPD_Crime_Data_2015_20240924.csv'
df = pd.read_csv(dataSet2015)
df.head()

,Report_No,Reported_Date,Reported Time,From_Date,From Time,To_Date,To Time,Offense,IBRS,Description,...,DVFlag,Invl_No,Involvement,Race,Sex,Age,Firearm Used Flag,Latitude,Longitude,Location 1
0,150015427,03/06/2015,0:02,03/06/2015,0:02,NaN,NaN,2601,90Z,Misc Violation,...,U,1,VIC,NaN,NaN,NaN,N,38.9767,-94.5767,"BROADWAY KANSAS CITY64131\n(38.9767, -94.5767)"
1,70045155,09/21/2015,14:20,01/19/2015,NaN,NaN,NaN,401,13A,Aggravated Assault (,...,U,1,VIC,B,M,NaN,N,0.0000,0.0000,"99999(0.0, 0.0)"
2,70045155,09/21/2015,14:20,01/19/2015,NaN,NaN,NaN,2001,90F,Family Offense,...,U,1,VIC,B,M,NaN,N,0.0000,0.0000,"99999(0.0, 0.0)"
3,150057463,09/08/2015,1:17,09/08/2015,1:17,NaN,NaN,702,240,Auto Theft,...,U,1,SUS,U,U,NaN,N,39.0947,-94.5516,"E PROSPECT KANSAS CITY, AV 64126\n(39.0947, -9..."
4,150033873,05/19/2015,0:21,05/19/2015,0:21,NaN,NaN,1849,35A,Possession/Sale/Dist,...,U,1,VIC,NaN,NaN,NaN,N,39.0735,-94.5461,"VICTOR KANSAS CITY, ST 64128\n(39.0735, -94.5461)"

In [3]:
df.columns

Index(['Report_No', 'Reported_Date', 'Reported Time', 'From_Date', 'From Time',
       'To_Date', 'To Time', 'Offense', 'IBRS', 'Description', 'Beat',
       'Address', 'City', 'Zip Code', 'Rep_Dist', 'Area', 'DVFlag', 'Invl_No',
       'Involvement', 'Race', 'Sex', 'Age', 'Firearm Used Flag', 'Latitude',
       'Longitude', 'Location 1'],
      dtype='object')

Columns in the dataset are as follows:

| Column Name           | Description                                                                 |
|-----------------------|-----------------------------------------------------------------------------|
| **Report_No**          | Eindeutige Identifikationsnummer des Berichts.                              |
| **Reported_Date**      | Datum, an dem das Verbrechen gemeldet wurde.                                |
| **Reported Time**      | Uhrzeit, zu der das Verbrechen gemeldet wurde.                              |
| **From_Date**          | Datum, an dem das Verbrechen stattfand oder begann.                         |
| **From Time**          | Uhrzeit, zu der das Verbrechen stattfand oder begann.                       |
| **To_Date**            | Datum, an dem das Verbrechen endete (falls bekannt).                        |
| **To Time**            | Uhrzeit, zu der das Verbrechen endete (falls bekannt).                      |
| **Offense**            | Code des gemeldeten Verbrechens.                                            |
| **IBRS**               | Klassifizierung des Verbrechens nach dem International Crime Reporting Standard. |
| **Description**        | Beschreibung des Verbrechens.                                               |
| **Beat**               | Polizeibereich oder Zone, in dem das Verbrechen gemeldet wurde.             |
| **Address**            | Adresse, an der das Verbrechen stattfand.                                   |
| **City**               | Stadt, in der das Verbrechen stattfand.                                     |
| **Zip Code**           | Postleitzahl des Verbrechensorts.                                           |
| **Rep_Dist**           | Reporting District, die Berichterstattungsregion.                           |
| **Area**               | Gebietsbezeichnung.                                                         |
| **DVFlag**             | Kennzeichnung, ob es sich um ein häusliches Verbrechen handelt (Domestic Violence Flag). |
| **Invl_No**            | Eindeutige Identifikationsnummer der beteiligten Person.                    |
| **Involvement**        | Art der Beteiligung (z. B. Täter, Opfer).                                   |
| **Race**               | Ethnische Zugehörigkeit der beteiligten Person.                             |
| **Sex**                | Geschlecht der beteiligten Person.                                          |
| **Age**                | Alter der beteiligten Person.                                               |
| **Firearm Used Flag**  | Angabe, ob eine Schusswaffe verwendet wurde.                                |
| **Latitude**           | Geografische Breite des Verbrechensortes.                                   |
| **Longitude**          | Geografische Länge des Verbrechensortes.                                    |
| **Location 1**         | Detaillierte Ortsangabe (Straße und Koordinaten) des Verbrechens.           |

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121901 entries, 0 to 121900
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Report_No          121901 non-null  int64
 1   Reported_Date      121901 non-null  object
 2   Reported Time      121901 non-null  object
 3   From_Date          121716 non-null  object
 4   From Time          121632 non-null  object
 5   To_Date            46553 non-null   object
 6   To Time            46134 non-null   object
 7   Offense            121901 non-null  int64
 8   IBRS               120989 non-null  object
 9   Description        121901 non-null  object
 10  Beat               121711 non-null  float64
 11  Address            121875 non-null  object
 12  City               121875 non-null  object
 13  Zip Code           121901 non-null  int64
 14  Rep_Dist           121681 non-null  object
 15  Area               121681 non-null  object
 16  DVFlag             121901 non-null  object
 17  Invl_No            121901 non-null  int64
 18  Involvement        121901 non-null  object
 19  Race               105155 non-null  object
 20  Sex                105155 non-null  object
 21  Age                66930 non-null   float64
 22  Firearm Used Flag  121901 non-null  object
 23  Latitude           121901 non-null  float64
 24  Longitude          121901 non-null  float64
 25  Location 1         121901 non-null  object
dtypes: float64(4), int64(4), object(18)
memory usage: 24.2+ MB

In [5]:
missing_values = df.isnull().sum()
print(missing_values)

Report_No                0
Reported_Date            0
Reported Time            0
From_Date              185
From Time              269
To_Date              75348
To Time              75767
Offense                  0
IBRS                   912
Description              0
Beat                   190
Address                 26
City                    26
Zip Code                 0
Rep_Dist               220
Area                   220
DVFlag                   0
Invl_No                  0
Involvement              0
Race                 16746
Sex                  16746
Age                  54971
Firearm Used Flag        0
Latitude                 0
Longitude                0
Location 1               0
dtype: int64

In [6]:
dataSet2015 = '..\\data\\2015\\KCPD_Crime_Data_2015_20240924.csv'
dataSet2016 = '..\\data\\2016\\KCPD_Crime_Data_2016_20240924.csv'
dataSet2017 = '..\\data\\2017\\KCPD_Crime_Data_2017_20240924.csv'
dataSet2018 = '..\\data\\2018\\KCPD_Crime_Data_2018_20240924.csv'
dataSet2019 = '..\\data\\2019\\KCPD_Crime_Data_2019_20240924.csv'
dataSet2020 = '..\\data\\2020\\KCPD_Crime_Data_2020_20240924.csv'
dataSet2021 = '..\\data\\2021\\KCPD_Crime_Data_2021_20240924.csv'
dataSet2022 = '..\\data\\2022\\KCPD_Crime_Data_2022_20240924.csv'
dataSet2023 = '..\\data\\2023\\KCPD_Crime_Data_2023_20240924.csv'
dataSet2024 = '..\\data\\2024\\KCPD_Crime_Data_2024_20240924.csv'

df2015 = pd.read_csv(dataSet2015)
df2016 = pd.read_csv(dataSet2016)
df2017 = pd.read_csv(dataSet2017)
df2018 = pd.read_csv(dataSet2018)
df2019 = pd.read_csv(dataSet2019)
df2020 = pd.read_csv(dataSet2020)
df2021 = pd.read_csv(dataSet2021)
df2022 = pd.read_csv(dataSet2022)
df2023 = pd.read_csv(dataSet2023)
df2024 = pd.read_csv(dataSet2024)

C:\Users\csang\AppData\Local\Temp\ipykernel_4116\29561206.py:16: DtypeWarning: Columns (0,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df2019 = pd.read_csv(dataSet2019)
C:\Users\csang\AppData\Local\Temp\ipykernel_4116\29561206.py:18: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df2021 = pd.read_csv(dataSet2021)
C:\Users\csang\AppData\Local\Temp\ipykernel_4116\29561206.py:19: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df2022 = pd.read_csv(dataSet2022)

In [7]:
col2024 = df2024.columns  # Standard columns einfach mal von 2024 genommen für das letzte Jahr

mockdatasets = {
    "2015": df2015.columns,
    "2016": df2016.columns,
    "2017": df2017.columns,
    "2018": df2018.columns,
    "2019": df2019.columns,
    "2020": df2020.columns,
    "2021": df2021.columns,
    "2022": df2022.columns,
    "2023": df2023.columns,
    "2024": df2024.columns
}

mismatched_columns = {}
same_columns = []

for year, columns in mockdatasets.items():
    if not columns.equals(col2024):
        col_diff_2024 = set(col2024) - set(columns)
        col_diff_year = set(columns) - set(col2024)
        mismatched_columns[year] = {
            "in_2024_not_in_year": col_diff_2024,
            "in_year_not_in_2024": col_diff_year
        }
    else:
        same_columns.append(year)

if not mismatched_columns:
    print("Alle Spalten sind gleich wie 2024.")
else:
    for year, diffs in mismatched_columns.items():
        print(f"Jahr {year} hat unterschiedliche Spalten:")
        if diffs["in_2024_not_in_year"]:
            print(f"  In 2024, aber nicht in {year}: {', '.join(diffs['in_2024_not_in_year'])}")
        if diffs["in_year_not_in_2024"]:
            print(f"  In {year}, aber nicht in 2024: {', '.join(diffs['in_year_not_in_2024'])}")

if same_columns:
    print(f"Folgende Jahre haben die gleichen Spalten wie 2024: {', '.join(same_columns)}")

Jahr 2015 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2015: Reported_Time, Location, From_Time, Age_Range, To_Time, Fire Arm Used Flag
  In 2015, aber nicht in 2024: From Time, Firearm Used Flag, Reported Time, Latitude, Longitude, To Time, Invl_No, Location 1
Jahr 2016 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2016: Location, Fire Arm Used Flag, Age_Range
  In 2016, aber nicht in 2024: Firearm Used Flag, Latitude, Longitude, Invl_No, Location 1
Jahr 2017 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2017: Fire Arm Used Flag, Age_Range
  In 2017, aber nicht in 2024: Invl_No, Firearm Used Flag
Jahr 2018 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2018: Fire Arm Used Flag, Age_Range
  In 2018, aber nicht in 2024: Invl_No, Firearm Used Flag
Jahr 2019 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2019: Fire Arm Used Flag, Age_Range
  In 2019, aber nicht in 2024: Firearm Used Flag
Jahr 2020 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2020: Reported_Time, From_Time, Age_Range, To_Time, Fire Arm Used Flag
  In 2020, aber nicht in 2024: From Time, To Time, Reported Time, Firearm Used Flag
Jahr 2021 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2021: Fire Arm Used Flag
  In 2021, aber nicht in 2024: Firearm Used Flag
Folgende Jahre haben die gleichen Spalten wie 2024: 2022, 2023, 2024