In [1]:
%run 01_mergeDataPreparation.ipynb
%run 02_dataPreparation.ipynb
%run 03_dataPreparationDistricts.ipynb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121901 entries, 0 to 121900
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Report_No          121901 non-null  int64
 1   Reported_Date      121901 non-null  object
 2   Reported Time      121901 non-null  object
 3   From_Date          121716 non-null  object
 4   From Time          121632 non-null  object
 5   To_Date            46553 non-null   object
 6   To Time            46134 non-null   object
 7   Offense            121901 non-null  int64
 8   IBRS               120989 non-null  object
 9   Description        121901 non-null  object
 10  Beat               121711 non-null  float64
 11  Address            121875 non-null  object
 12  City               121875 non-null  object
 13  Zip Code           121901 non-null  int64
 14  Rep_Dist           121681 non-null  object
 15  Area               121681 non-null  object
 16  DVFlag             121901 non-null  object
 17  Invl_No            121901 non-null  int64
 18  Involvement        121901 non-null  object
 19  Race               105155 non-null  object
 20  Sex                105155 non-null  object
 21  Age                66930 non-null   float64
 22  Firearm Used Flag  121901 non-null  object
 23  Latitude           121901 non-null  float64
 24  Longitude          121901 non-null  float64
 25  Location 1         121901 non-null  object
dtypes: float64(4), int64(4), object(18)
memory usage: 24.2+ MB
Report_No                0
Reported_Date            0
Reported Time            0
From_Date              185
From Time              269
To_Date              75348
To Time              75767
Offense                  0
IBRS                   912
Description              0
Beat                   190
Address                 26
City                    26
Zip Code                 0
Rep_Dist               220
Area                   220
DVFlag                   0
Invl_No                  0
Involvement              0
Race                 16746
Sex                  16746
Age                  54971
Firearm Used Flag        0
Latitude                 0
Longitude                0
Location 1               0
dtype: int64

C:\Users\csang\AppData\Local\Temp\ipykernel_18368\29561206.py:16: DtypeWarning: Columns (0,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df2019 = pd.read_csv(dataSet2019)
C:\Users\csang\AppData\Local\Temp\ipykernel_18368\29561206.py:18: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df2021 = pd.read_csv(dataSet2021)
C:\Users\csang\AppData\Local\Temp\ipykernel_18368\29561206.py:19: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df2022 = pd.read_csv(dataSet2022)

Jahr 2015 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2015: To_Time, Reported_Time, From_Time, Age_Range, Fire Arm Used Flag, Location
  In 2015, aber nicht in 2024: Invl_No, From Time, Firearm Used Flag, Reported Time, To Time, Latitude, Longitude, Location 1
Jahr 2016 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2016: Fire Arm Used Flag, Age_Range, Location
  In 2016, aber nicht in 2024: Invl_No, Firearm Used Flag, Latitude, Longitude, Location 1
Jahr 2017 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2017: Fire Arm Used Flag, Age_Range
  In 2017, aber nicht in 2024: Firearm Used Flag, Invl_No
Jahr 2018 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2018: Fire Arm Used Flag, Age_Range
  In 2018, aber nicht in 2024: Firearm Used Flag, Invl_No
Jahr 2019 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2019: Fire Arm Used Flag, Age_Range
  In 2019, aber nicht in 2024: Firearm Used Flag
Jahr 2020 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2020: To_Time, Reported_Time, From_Time, Age_Range, Fire Arm Used Flag
  In 2020, aber nicht in 2024: From Time, Firearm Used Flag, To Time, Reported Time
Jahr 2021 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2021: Fire Arm Used Flag
  In 2021, aber nicht in 2024: Firearm Used Flag
Folgende Jahre haben die gleichen Spalten wie 2024: 2022, 2023, 2024
Jahr 2015 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2015: To_Time, Reported_Time, From_Time, Age_Range, Location
  In 2015, aber nicht in 2024: Invl_No, From Time, Reported Time, To Time, Latitude, Longitude, Location 1
Jahr 2016 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2016: Age_Range, Location
  In 2016, aber nicht in 2024: Latitude, Longitude, Location 1, Invl_No
Jahr 2017 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2017: Age_Range
  In 2017, aber nicht in 2024: Invl_No
Jahr 2018 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2018: Age_Range
  In 2018, aber nicht in 2024: Invl_No
Jahr 2019 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2019: Age_Range
Jahr 2020 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2020: From_Time, Reported_Time, Age_Range, To_Time
  In 2020, aber nicht in 2024: From Time, To Time, Reported Time
Folgende Jahre haben die gleichen Spalten wie 2024: 2021, 2022, 2023, 2024
Age 0        33.0
1         NaN
2        29.0
3        65.0
4         NaN
         ...
80174    28.0
80175    35.0
80176    23.0
80177    20.0
80178    40.0
Name: Age, Length: 80179, dtype: float64
Age_Range 0        25-34
1          NaN
2        25-34
3        65-74
4          NaN
         ...
80174    25-34
80175    35-44
80176    18-24
80177    18-24
80178    35-44
Name: Age_Range, Length: 80179, dtype: object
Jahr 2015 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2015: Reported_Time, From_Time, Location, To_Time
  In 2015, aber nicht in 2024: Invl_No, From Time, Reported Time, To Time, Latitude, Longitude, Location 1
Jahr 2016 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2016: Location
  In 2016, aber nicht in 2024: Latitude, Longitude, Location 1, Invl_No
Jahr 2017 hat unterschiedliche Spalten:
  In 2017, aber nicht in 2024: Invl_No
Jahr 2018 hat unterschiedliche Spalten:
  In 2018, aber nicht in 2024: Invl_No
Jahr 2020 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2020: Reported_Time, From_Time, To_Time
  In 2020, aber nicht in 2024: From Time, To Time, Reported Time
Folgende Jahre haben die gleichen Spalten wie 2024: 2019, 2021, 2022, 2023, 2024
Jahr 2015 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2015: Location
  In 2015, aber nicht in 2024: Latitude, Longitude, Location 1, Invl_No
Jahr 2016 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2016: Location
  In 2016, aber nicht in 2024: Latitude, Longitude, Location 1, Invl_No
Jahr 2017 hat unterschiedliche Spalten:
  In 2017, aber nicht in 2024: Invl_No
Jahr 2018 hat unterschiedliche Spalten:
  In 2018, aber nicht in 2024: Invl_No
Folgende Jahre haben die gleichen Spalten wie 2024: 2019, 2020, 2021, 2022, 2023, 2024
Jahr 2015 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2015: Location
  In 2015, aber nicht in 2024: Latitude, Longitude, Location 1
Jahr 2016 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2016: Location
  In 2016, aber nicht in 2024: Latitude, Longitude, Location 1
Folgende Jahre haben die gleichen Spalten wie 2024: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Jahr 2015 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2015: Location
  In 2015, aber nicht in 2024: Latitude, Longitude, Location 1
Jahr 2016 hat unterschiedliche Spalten:
  In 2024, aber nicht in 2016: Location
  In 2016, aber nicht in 2024: Latitude, Longitude, Location 1
Folgende Jahre haben die gleichen Spalten wie 2024: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Number of POINT (0.0 0.0) in 2015: 26
Number of POINT (0.0 0.0) in 2016: 37
Number of POINT (0.0 0.0) in 2015: 0
Number of POINT (0.0 0.0) in 2016: 0
Jahr 2015 hat unterschiedliche Spalten:
  In 2015, aber nicht in 2024: Latitude, Longitude, Location 1
Jahr 2016 hat unterschiedliche Spalten:
  In 2016, aber nicht in 2024: Latitude, Longitude, Location 1
Folgende Jahre haben die gleichen Spalten wie 2024: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Alle Spalten sind gleich wie 2024.
Folgende Jahre haben die gleichen Spalten wie 2024: 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
<class 'pandas.core.frame.DataFrame'>
Index: 1093640 entries, 0 to 80178
Data columns (total 23 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Report_No          1093640 non-null  object
 1   Reported_Date      1093640 non-null  object
 2   Reported_Time      1093640 non-null  object
 3   From_Date          1092624 non-null  object
 4   From_Time          1092199 non-null  object
 5   To_Date            431633 non-null   object
 6   To_Time            390011 non-null   object
 7   Offense            1093640 non-null  object
 8   IBRS               1029730 non-null  object
 9   Description        1008161 non-null  object
 10  Beat               1089226 non-null  object
 11  Address            1093570 non-null  object
 12  City               1093524 non-null  object
 13  Zip Code           1046564 non-null  object
 14  Rep_Dist           978663 non-null   object
 15  Area               1088156 non-null  object
 16  DVFlag             1093640 non-null  object
 17  Involvement        1093640 non-null  object
 18  Race               945431 non-null   object
 19  Sex                952638 non-null   object
 20  Age                706443 non-null   float64
 21  Firearm Used Flag  1093640 non-null  object
 22  Location           1027114 non-null  object
dtypes: float64(1), object(22)
memory usage: 200.3+ MB
Report_No                 0
Reported_Date             0
Reported_Time             0
From_Date              1016
From_Time              1441
To_Date              662007
To_Time              703629
Offense                   0
IBRS                  63910
Description           85479
Beat                   4414
Address                  70
City                    116
Zip Code              47076
Rep_Dist             114977
Area                   5484
DVFlag                    0
Involvement               0
Race                 148209
Sex                  141002
Age                  387197
Firearm Used Flag         0
Location              66526
dtype: int64
Report_No                 0
Reported_Date             0
Reported_Time             0
From_Date               979
From_Time              1398
To_Date              619397
To_Time              659244
Offense                   0
IBRS                  53962
Description           68129
Beat                   3855
Address                  51
City                     96
Zip Code              42296
Rep_Dist              96273
Area                   4729
DVFlag                    0
Involvement               0
Race                 138193
Sex                  131901
Age                  368813
Firearm Used Flag         0
Location                  0
dtype: int64
8613 rows have no coordinates or they are not formatted correctly

C:\Users\csang\AppData\Local\Temp\ipykernel_18368\1775896410.py:2: DtypeWarning: Columns (1,8,11,14,17,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(mergedData)

Unnamed: 0                0
Report_No                 0
Reported_Date             0
Reported_Time             0
From_Date               871
From_Time              1257
To_Date              592353
To_Time              632103
Offense                   0
IBRS                  53468
Description           68129
Beat                   3448
Address                   0
City                     34
Zip Code              42296
Rep_Dist              95680
Area                   4136
DVFlag                    0
Involvement               0
Race                 131326
Sex                  125034
Age                  350197
Firearm Used Flag         0
Location                  0
dtype: int64 988465
Unnamed: 0                0
Report_No                 0
Reported_Date             0
Reported_Time             0
From_Date               871
Offense                   0
IBRS                  53468
Description           68129
Address                   0
City                     34
Rep_Dist              95680
DVFlag                    0
Involvement               0
Race                 131326
Sex                  125034
Age                  350197
Firearm Used Flag         0
Location                  0
dtype: int64 988465
Unnamed: 0                0
Report_No                 0
Reported_Date             0
Reported_Time             0
From_Date                 0
Offense                   0
IBRS                  53461
Description           68089
Address                   0
City                     34
Rep_Dist              95672
DVFlag                    0
Involvement               0
Race                 131165
Sex                  124873
Age                  349856
Firearm Used Flag         0
Location                  0
dtype: int64 987594
2601
702
1849
801
401
201
640
802
690
1546
302
301
2201
1401
1651
2402
2100
1652
2403
1352
2604
1850
650
840
2040
501
670
402
2655
502
799
403
610
2661
1170
2001
3077
3020
1122
1001
620
1770
901
831
210
1750
2041
3067
3079
1120
2693
3070
1702
2054
630
1650
101
2530
2664
2602
1198
1742
1201
660
1741
820
1648
1701
1188
1197
1002
230
3076
680
1740
1050
2954
1402
3074
151
3066
3073
2603
842
902
121
2663
1130
3010
2665
3075
2662
2031
3060
1942
1189
3035
1199
3063
3072
3036
3069
220
199
1653
1760
3071
2605
2660
3030
1940
3009
3064
Number of string values in 'Offense': 529652
Number of numeric values in 'Offense': 457942
==================================================
num_strings+num_numbers: 987594
Number of values in 'Offense': 987594
All numeric 'Offense' values have a string 'Description': True
Unnamed: 0                  0
Report_No                   0
Reported_Date               0
Reported_Time               0
From_Date                   0
IBRS                    53461
Address                     0
City                       34
Rep_Dist                95672
DVFlag                      0
Involvement                 0
Race                   131165
Sex                    124873
Age                    349856
Firearm Used Flag           0
Location                    0
Offense_Description         0
dtype: int64 987594
0

C:\Users\csang\AppData\Local\Temp\ipykernel_18368\1862509000.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].fillna(mode_sex, inplace=True)

Unnamed: 0                  0
Report_No                   0
Reported_Date               0
Reported_Time               0
From_Date                   0
IBRS                    53461
Address                     0
City                       34
Rep_Dist                95672
DVFlag                      0
Involvement                 0
Race                   131165
Sex                         0
Age                    349856
Firearm Used Flag           0
Location                    0
Offense_Description         0
dtype: int64 987594
Unnamed: 0                  0
Report_No                   0
Reported_Date               0
Reported_Time               0
From_Date                   0
IBRS                    53444
Address                     0
City                        0
Rep_Dist                95651
DVFlag                      0
Involvement                 0
Race                   131156
Sex                         0
Age                    349842
Firearm Used Flag           0
Location                    0
Offense_Description         0
dtype: int64 987560
Unnamed: 0             0
Report_No              0
Reported_Date          0
Reported_Time          0
From_Date              0
Address                0
City                   0
DVFlag                 0
Involvement            0
Firearm Used Flag      0
Location               0
Offense_Description    0
dtype: int64 987560

C:\Users\csang\AppData\Local\Temp\ipykernel_18368\331269887.py:2: DtypeWarning: Columns (2,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(mergedData)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987560 entries, 0 to 987559
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Report_No            987560 non-null  object
 1   Reported_Date        987560 non-null  object
 2   Reported_Time        987560 non-null  object
 3   From_Date            987560 non-null  object
 4   Address              987560 non-null  object
 5   City                 987560 non-null  object
 6   DVFlag               987560 non-null  object
 7   Involvement          987560 non-null  object
 8   Firearm Used Flag    987560 non-null  object
 9   Location             987560 non-null  object
 10  Offense_Description  987560 non-null  object
dtypes: object(11)
memory usage: 82.9+ MB
<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 987906 entries, 0 to 987559
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Report_No            987906 non-null  object
 1   Reported_Date        987906 non-null  object
 2   Reported_Time        987906 non-null  object
 3   From_Date            987906 non-null  object
 4   Address              987906 non-null  object
 5   City                 987906 non-null  object
 6   DVFlag               987906 non-null  object
 7   Involvement          987906 non-null  object
 8   Firearm Used Flag    987906 non-null  object
 9   Location             987906 non-null  object
 10  Offense_Description  987906 non-null  object
 11  lon                  987906 non-null  float64
 12  lat                  987906 non-null  float64
 13  geometry             987906 non-null  geometry
 14  index_right          960477 non-null  float64
 15  the_geom             960477 non-null  object
 16  DIST_ID              960477 non-null  float64
 17  DISTRICTOR           960477 non-null  object
 18  DISTRICT_2           960477 non-null  object
 19  INDISTRICT           960477 non-null  object
 20  INDISTRI_1           960477 non-null  object
 21  ATLARGE              960477 non-null  object
 22  ATLARGETIT           960477 non-null  object
 23  dist_id              960477 non-null  float64
dtypes: float64(5), geometry(1), object(18)
memory usage: 188.4+ MB
None
27429 Could not be added to a specific district
Trying to match locations to nearest district..
<class 'pandas.core.frame.DataFrame'>
Index: 987906 entries, 0 to 987559
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Report_No            987906 non-null  object
 1   Reported_Date        987906 non-null  object
 2   Reported_Time        987906 non-null  object
 3   From_Date            987906 non-null  object
 4   Address              987906 non-null  object
 5   City                 987906 non-null  object
 6   DVFlag               987906 non-null  object
 7   Involvement          987906 non-null  object
 8   Firearm Used Flag    987906 non-null  object
 9   Location             987906 non-null  object
 10  Offense_Description  987906 non-null  object
 11  lon                  987906 non-null  float64
 12  lat                  987906 non-null  float64
 13  dist_id              987906 non-null  float64
dtypes: float64(3), object(11)
memory usage: 113.1+ MB